:root {
    --main-foont:"Inter", "Arial", "sans serif";
    --color-bc-link:#EA625C;
    --color:#fff ;
    --color-black: #000;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Medium.woff2') format('woff2'),
    url('Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Regular.woff2') format('woff2'),
    url('Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-SemiBold.woff2') format('woff2'),
    url('Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-Bold.woff2') format('woff2'),
    url('Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.html {
    height: 100%;
}

*:focus {
    outline-color: #fa4659;                             
    outline-offset: 3px;
    outline-width: 2px;
    outline-style: dashed;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    font-family: var(--main-foont);
    color: var(--color);
}

.container {
    width: 100%;
    max-width: 1180px;
    padding-left: 15px;
    padding-right:15px;
    margin-left: auto;
    margin-right: auto;
}

.form-section {
    background-color: #F1F4FF;
    padding: 80px 144px;
}

.form-container {
    display: flex;
}

.form-info {
}

.intro-form-title {
    max-width: 385px;
    width: 100%;
    background-image: url("../img/Rectangle\ 6.png");
    background-repeat: no-repeat;
    margin-right: 12px;
    padding-left: 60px;
    padding-top: 55px;
    padding-right: 129px;
    padding-bottom: 203px;
}

.intro-form-link {
    display: inline-block;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: var(--color);
    border: 1px solid #fff;
    border-radius: 40px;
    padding: 5px 15px;
    
}

.intro-form-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    width: 389px;
    color: var(--color);
    margin: 0;
    padding-top: 65px;
    padding-bottom: 25px;
}

.intro-form-text {
    margin: 0;
}

.intro-form-link-list {
    padding: 29px 152px;
    background-color: #4DC490;
    display: inline-block;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    text-decoration: none;
    color: var(--color);
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    transition: 0.4s ease;
}

.intro-form-link-list:hover {
    opacity: 0.8;
    background-color:   rgba(77, 196, 144, 1);
}

.intro-form-link-list:active {
    opacity: 0.6;
}

.intro-form {
    padding: 55px 60px 40px 60px;
    background-color: var(--color);
    border-radius: 20px;
}

.intro-form-input-heading {
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    color: var(--color-black);
    margin: 0;
    margin-bottom: 79px;
}

.form-input {
    width: 450px;
    font-size: 16px;
    line-height: 19px;
    border: none;
    border-bottom: 1px solid var(--color-black);
    font-family: var(--main-foont);
    max-width: 450px;
    padding-bottom: 11px;
    margin-bottom: 35px;
}

.intro-form-button {
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--color);
    padding: 20px 149px;
    background: #655AF2;
    border-radius: 10px;
    transition: 0.4s ease;
}

.intro-form-button:hover {
    opacity: 0.8;

}



.intro-form-text-link {
    color: #555;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    padding-top: 8px;
    margin: 0;
}

.intro-form-intro-list {
    margin-bottom: 63px;
}

.intro-form-links {
    text-decoration: none;
    color: red;
}

.intro-form-links:hover {
    border-bottom: 1px solid red;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .intro-form-title {
        background-image: url("../img/Rectangle\ 6@2x.png");
    }

}